@font-face {
	font-family: Passion One;
	src: url("fonts/Passion_One/PassionOne-Regular.ttf");
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fafafa inset !important;
		-webkit-text-fill-color: #525252 !important;
}

html {
	color: #525252;
	font-family: 'Passion One', cursive;
	height: 100%;
}
body{
	background-color: #ef5350;
}

nav{
	z-index: 1;
  position: fixed;
	background-color: #ef5350 ;	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2)
}

nav ul a{
	font-size: 1.3rem;
}
#sidenav-overlay {
	z-index: 0;
}
.side-nav a {
	text-shadow: none;
	color: #ef5350;
}


/*.next {
	font-size: 40px;
	color: #ef5350
}*/

.next:hover, .top:hover{
	cursor: pointer;
}
.container {
	width: 80%;
	height: 100%;
}

.row {
	margin: 0;
}

.slider .slides li .caption {
	top: 25%;
	left: 0;
	width: 100%;
}


.parallax {
	height: 100%;
	background-color: #ef5350 ;
}

#banner-container {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
}
.parallax img {
	-webkit-filter: brightness(95%); /* Chrome, Safari, Opera */
    filter: brightness(95%);
}

.container .banner {
	color: white;
	height: 100%;
}

#banner-text {
	width: 60%;
  float: right;
}
#banner-text h1{
	font-size: 20px;
}
#banner-text h2{
	font-size: 16px;
}
#banner-text h1, #banner-text h2{
  margin-right: 2%;
	text-align: right;
}
#banner-image {
	width: 75%;
	position: absolute;
	top: 25px;
  right: 45%;
	z-index: -1;
}


.negotiator img{
	height: 180px;
}


#about a{
	color: #ef5350 ;
	text-decoration: underline;
}

.page-head p {
	text-align: center;
	color: #525252;
}
.page-head {
	color: white;
}
.page-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p {
  text-align: justify;;
	font-family: "Roboto", sans-serif;
}
.about-section {
	margin-top: 5vh;
}
#help-on {
	text-align: center;
	padding-top: 5vh;
}
#help-on-icon {
	width: 100px;
	height: 100px;
	background-color: #ef5350;
	border-radius: 50%;
	margin: auto;
}
#help-on-icon i {
	font-size: 4em;
	color: white;
	line-height: 100px;
}
#home {
	text-align: center;
	margin-top: 250px;
}
#home img{
	width: 100px;
	height: 100px;
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

.banner h1 {
	color: white;
	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.banner h2{
	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
	color: white;
}
h1, h2, h3 {
	color: #ef5350  ;
  text-align: center;
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
h3{
	font-size: 1.8rem;
	color: #525252;
	margin-bottom: 0;
}

/* Testimonials*/
.testimonial {
	font-style: italic;
}
.focus {
	font-weight: bold;
	color: #ef5350;
}
.customer {
	font-weight: bold;
	text-align: center;
}

/* Form*/
form {
	font-family: "Roboto", sans-serif;
}
form .container {
	width: 90%;
	margin-left: 0;
}
/*Form Message*/
#textarea1 {
	max-height: 1vh;
}

/* label color */
.input-field label {
	color: #525252;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label , #textarea1:focus + label {
	color: #ef5350 ;
}
/* label underline color */
.input-field input[type=text], .input-field input[type=email], .input-field input[type=tel], #textarea1 {
	border-bottom: 1px solid #525252;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus, #textarea1:focus {
	border-bottom: 1px solid #ef5350 ;
	box-shadow: 0 1px 0 0 #ef5350 ;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=tel].valid, #textarea1.valid{
	border-bottom: 1px solid #a5d6a7;
	box-shadow: 0 1px 0 0 #a5d6a7;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=tel].invalid, #textarea1.invalid {
	border-bottom: 1px solid #ef5350;
	box-shadow: 0 1px 0 0 #ef5350;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #ef5350 ;
}
/*Dropdown label*/
.dropdown-content li>a, .dropdown-content li>span {
	color: #ef5350;
}

/*footer*/
footer.page-footer {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	text-align: center;
	color: white;
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	background-color: #212121;
}
footer .container {
	line-height: 5vh;
}

footer a {
	color: white;
	font-weight: bold;
}

footer .container {
	width: 90%;
}

/* Mobile Landscape */
@media screen and (min-width: 450px){
	#banner-image {
		width: 35%;
		right: 70%;
		top: 10%;
	}
	#banner-text h1 {
		font-size: 2em;
	}
	#banner-text h2 {
		font-size: 1.25em;
	}
	#home {
		margin-top: 220px;
	}
}
/* Tablet / Desktop */
@media screen and (min-width: 767px){
	#home {
		margin-top: 325px;
	}
	#banner-image {
		width: 40%;
		top: 25px;
		max-width: 350px;
	}
	#banner-text h1 {
		font-size: 3em;
	}
	#banner-text h2 {
		font-size: 2em;
	}
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 2em;
	}

	form .container {
		width: 80%;
		margin-left: 10%;
	}
}

/* Horizontal Tablet Menu */
@media screen and (min-width: 993px){
	nav .container {
		width: 80%;
	}
  html {
    font-size: 16px;
  }
	.about-section {
		margin-top: 0;
	}
}
