@font-face {
	font-family: Passion One;
	src: url("fonts/Passion_One/PassionOne-Regular.ttf");
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ff7043 inset !important;
		-webkit-text-fill-color: white !important;
}

html {
	color: #525252;
	font-family: 'Passion One', cursive;
}

nav{
  position: fixed;
  z-index: 999;
	background-color: rgba(255, 82, 82, 1);
}
nav .brand-logo, nav .brand-logo i {
	font-size: 2.5rem;
	font-weight: bold;
}
nav ul a{
	font-size: 1.3rem;
}
}
.next {
	font-size: 40px;
	color: #ff5252
}
.next:hover, .top:hover{
	cursor: pointer;
}
.container {
	width: 80%;
	height: 100%;
}

.row {
	margin: 0;
}
.slider .indicators .indicator-item.active {
	background-color: #ff5252;
}

.slider .slides li .caption {
	top: 25%;
	left: 0;
	width: 100%;
}

.parallax-container {
	height: 100%;
	padding-top: 5vh;
}
.parallax {
	height: 100%;
}

.parallax img {
	-webkit-filter: brightness(95%); /* Chrome, Safari, Opera */
    filter: brightness(95%);
		height: 150%;
}

.container .banner {
	color: white;
	height: 100%;
	padding-top: 3vh;
}

.negotiator {
	background-image: url("../images/the-negotiator.png");
	background-size: 90%;
	background-repeat: no-repeat;
	height: 100%;
}

#home, #about, #testimonials, #contact {
	margin-bottom: 0;
	padding-bottom: 5vh;
}
#about a{
	color: #ff5252;
	text-decoration: underline;
}
.active {
	background-color: rgba(0,0,0,0.1);
}
.page-head p {
	text-align: center;
	color: #525252;
}
.page-head {
	color: white;
}
.page-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.iconview {
	font-size: 13vh;
}

p {
  text-align: left;
	font-family: "Roboto", sans-serif;
}
#home {
	text-align: center;
}
#home img{
	width: 35%;
}

.banner h1 {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}
}
#home h1{
	color: #525252;
}

h2{
	font-size: 2rem;
}
.banner h2{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
h1, h2, h3 {
	color: #ff5252 ;
  text-align: center;
}
h3{
	font-size: 1.8rem;
	color: #525252;
	margin-bottom: 0;
}


/* Form CSS*/
form {
	font-family: "Roboto", sans-serif;
}
/*Form Message*/
#textarea1 {
	max-height: 1vh;
}

/* label color */
.input-field label {
	color: #525252;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label , #textarea1:focus + label {
	color: #ff5252;
}
/* label underline color */
.input-field input[type=text], .input-field input[type=email], .input-field input[type=tel], #textarea1 {
	border-bottom: 1px solid #525252;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus, #textarea1:focus {
	border-bottom: 1px solid #ff5252;
	box-shadow: 0 1px 0 0 #ff5252;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=tel].valid, #textarea1.valid{
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=tel].invalid, #textarea1.invalid {
	border-bottom: 1px solid #ff5722;
	box-shadow: 0 1px 0 0 #ff5722;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #ff5252;
}

/*footer*/
footer.page-footer {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	text-align: center;
	color: white;
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	background-color: rgba(0, 0, 0, 0.8);
}
footer .container {
	line-height: 5vh;
}

















@media only screen and (min-width: 993px) { /* Large */
	#home, #about, #pricing, #contact {
		margin: 0;
		position: relative;
	}

	nav{
		height: 5vh;
		line-height: 5vh;
	}
	.negotiator {
		height: 100%;
	}
	.parallax-container {
		height: 45vh;
		padding-top: 0;
	}
	.parallax img {
			bottom: 83%;
			height: 257%;
	}
	.page-head {
		padding-top: 3vh;
	}
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
		.container .banner {
			padding-top: 5vh;
		}
		.negotiator {
			margin-top: 3vh;
			background-size: 116%;
		}
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
		.container .banner {
			padding-top: 2vh;
		}
		.negotiator{
			margin-top: 4vh;
			background-size: 100%;
			height: 100%;
		}
}

/* iPhone 6 Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
		form .container {
			width: 90%;
			margin-left: 0;
		}
}

@media only screen and (min-width: 601px) { /* Small */
	.negotiator {
		/*height: 100%;*/

	}
	.parallax-container {
		height: 45vh;
		padding-top: 0;
	}
}
