@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ff7043 inset !important;
		-webkit-text-fill-color: white !important;
}

html {
  font-family: 'Montserrat', sans-serif;
	color: #525252;
}

nav{
  position: fixed;
  font-weight: bold;
  z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
}
nav .brand-logo, nav .brand-logo i {
	font-size: 2.5rem;
}
.next {
	font-size: 40px;
	color: #ff5252
}
.next:hover, .top:hover{
	cursor: pointer;
}
.container {
	width: 80%;
}
.container .row {
	margin: 0;
}
.row {
	margin: 0;
}
.slider .indicators .indicator-item.active {
	background-color: #ff5252;
}

.slider .slides li .caption {
	top: 25%;
	left: 0;
	width: 100%;
}
.parallax-container{
	height: 350px;
}
.parallax img {
	-webkit-filter: brightness(75%); /* Chrome, Safari, Opera */
    filter: brightness(75%);
		bottom: 83%;
		height: 257%;
}

@media only screen and (min-width: 993px) {
	#home, #about, #pricing, #contact {
		margin: 0;
		position: relative;
	}
}

#contact {
	height: 95vh;
}

#home, #about, #pricing, #contact {
	margin-bottom: 0;
}
#services a{
	color: #ff5252;
	text-decoration: underline;
}
.ross, .lewis {
	height: 30vh;
	background-repeat: no-repeat;
	background-position: 50%;
	border: 2vh solid white;
	border-radius: 50%;
}
/*#about-us, #ross, #lewis, #ross-header, #ross-text, #lewis-header, #lewis-text {
	opacity: 0;
}*/
.page-head p {
	text-align: center;
	color: #525252;
}
.page-head {
	padding-top: 10vh;
	color: white;
}
.page-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.iconview {
	font-size: 13vh;
}
/* Form CSS*/
#contact-form {
	margin-left: 5vh;
	margin-right: 5vh;
}
#textarea1 {
	max-height: 1vh;
}


/* label color */
 .input-field label {
   color: #525252;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label , #textarea1:focus + label {
   color: #ff5252;
 }
/* label underline color */
.input-field input[type=text], .input-field input[type=email], .input-field input[type=tel], #textarea1 {
	 border-bottom: 1px solid white;
}
 /* label underline focus color */
 .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus, #textarea1:focus {
   border-bottom: 1px solid #ff5252;
   box-shadow: 0 1px 0 0 #ff5252;
 }
 /* valid color */
 .input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=tel].valid, #textarea1.valid{
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* invalid color */
 .input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=tel].invalid, #textarea1.invalid {
   border-bottom: 1px solid #ff5722;
   box-shadow: 0 1px 0 0 #ff5722;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #ff5252;
 }

p {
  text-align: left;
}

h1 {
	color: #ff5252 ;
	font-size: 2.92rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 1.64rem;
}
h1, h2, h3 {
  text-align: center;
  font-weight: bold;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3)
}

footer.page-footer {
	overflow: hidden;
	text-align: center;
	color: white;
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	background-color: rgba(0, 0, 0, 0.8);
}
footer .container {
	line-height: 5vh;
}
