@font-face {
	font-family: Passion One;
	src: url("fonts/Passion_One/PassionOne-Regular.ttf");
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fafafa inset !important;
		-webkit-text-fill-color: #525252 !important;
}

html {
	color: #525252;
	font-family: 'Passion One', cursive;
}
body{
}

nav{
	z-index: 1;
  position: fixed;
	background-color: #ef5350 ;	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2)
}
nav .container {
	background-color: #ef5350 ;
	width: 100%;
}
nav ul a{
	font-size: 1.3rem;
}
#sidenav-overlay {
	z-index: 0;
}
.side-nav a {
	text-shadow: none;
	color: #ef5350;
}


/*.next {
	font-size: 40px;
	color: #ef5350
}*/

.next:hover, .top:hover{
	cursor: pointer;
}
.container {
	width: 80%;
	height: 100%;
}

.row {
	margin: 0;
}

.slider .slides li .caption {
	top: 25%;
	left: 0;
	width: 100%;
}


.parallax {
	height: 100%;
	background-color: #ef5350 ;
}
.parallax-container .container {
	position: fixed;
	margin-left: 10%;
	margin-right: 10%;
	z-index: -1;
}
.parallax img {
	-webkit-filter: brightness(95%); /* Chrome, Safari, Opera */
    filter: brightness(95%);
}

.container .banner {
	color: white;
	height: 100%;
}

.negotiator {
	background-image: url("../images/the-negotiator.png");
	background-size: contain;
	height: 65%;
	background-repeat: no-repeat;
	width: 100%;
}


#about a{
	color: #ef5350 ;
	text-decoration: underline;
}


.page-head p {
	text-align: center;
	color: #525252;
}
.page-head {
	color: white;
}
.page-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p {
  text-align: left;
	font-family: "Roboto", sans-serif;
}
#home {
	text-align: center;
}
#home img{
	width: 35%;
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

.banner h1 {
	color: white;
	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.banner h2{
	text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
	color: white;
}
h1, h2, h3 {
	color: #ef5350  ;
  text-align: center;
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
h3{
	font-size: 1.8rem;
	color: #525252;
	margin-bottom: 0;
}

/* Testimonials*/
.testimonial {
	font-style: italic;
}
.focus {
	font-weight: bold;
	color: #ef5350;
}
.customer {
	font-weight: bold;
	text-align: center;
}

/* Form*/
form {
	font-family: "Roboto", sans-serif;
}
/*Form Message*/
#textarea1 {
	max-height: 1vh;
}

/* label color */
.input-field label {
	color: #525252;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=tel]:focus + label , #textarea1:focus + label {
	color: #ef5350 ;
}
/* label underline color */
.input-field input[type=text], .input-field input[type=email], .input-field input[type=tel], #textarea1 {
	border-bottom: 1px solid #525252;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=tel]:focus, #textarea1:focus {
	border-bottom: 1px solid #ef5350 ;
	box-shadow: 0 1px 0 0 #ef5350 ;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=tel].valid, #textarea1.valid{
	border-bottom: 1px solid #a5d6a7;
	box-shadow: 0 1px 0 0 #a5d6a7;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=tel].invalid, #textarea1.invalid {
	border-bottom: 1px solid #ef5350;
	box-shadow: 0 1px 0 0 #ef5350;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #ef5350 ;
}
/*Dropdown label*/
.dropdown-content li>a, .dropdown-content li>span {
	color: #ef5350;
}

/*footer*/
footer.page-footer {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	text-align: center;
	color: white;
	margin-top: 0;
	padding-top: 0;
	height: 5vh;
	background-color: rgba(0, 0, 0, 0.8);
}
footer .container {
	line-height: 5vh;
}

footer a {
	color: white;
	font-weight: bold;
}

footer .container {
	width: 90%;
}

/* Tablet Large */
@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
	h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
	.parallax-container{
		height: 37vh;
	}
}
/* Desktop */
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height
    and something more appropriate for display headings */
  }
	h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}


/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){
		#banner-text h1{
			margin: 0 0 1.68rem 0;
		}
		#banner-text{
			width: 60%;
		}
		#banner-image{
			width: 40%;
		}
		.negotiator {
			height: 80%;
		}
		nav .material-icons {
			margin-left: 1vh;
		}
}

/* ----------- Nexus 5 ----------- */
/* Landscape */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 529px)
	and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
		#banner-text h1{
			margin: 0 0 1.68rem 0;
		}
		#banner-text{
			width: 60%;
		}
		#banner-image{
			width: 40%;
		}
		.negotiator {
			height: 80%;
		}
}


/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
		.parallax-container {
			height: 27vh;
		}
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
		.brand-logo{
			margin-left: 1vw;
		}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
		#banner-text h1, #banner-text h2{
			margin: 0;
		}
		form .container {
			width: 90%;
			margin-left: 0;
		}
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
		.parallax-container {
			height: 70vh;
		}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
		.parallax-container {
			height: 58vh;
		}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
		.parallax-container {
			height: 55vh;
		}
		.negotiator {
			height: 50%;
			background-position: 50%;
		}
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

		#banner-text h1{
			margin: 0 0 1.68rem 0;
		}
		#banner-text{
			width: 60%;
		}
		#banner-image{
			width: 40%;
		}
		.negotiator {
			height: 80%;
			background-position: 50%;
		}
		.parallax-container {
			height: 60vh;
		}
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
		#banner-text h1{
			margin: 0 0 1.68rem 0;
		}
		.negotiator {
			background-position: 50%;
			height: 50%;
		}
		.parallax-container {
			height: 70vh;
		}
}
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
		#banner-text{
			width: 60%;
		}
		#banner-image{
			width: 40%;
		}
		.negotiator {
			height: 80%;
			background-position: 50%;
		}
		.parallax-container {
			height: 100vh;
		}
		#home img{
			width: 25%;
		}
}
